.button {
  font-size: 1.125rem;
  font-weight: 700;
  background-color: var(--button-color);
  color: var(--text-light);
  border: var(--button-border);
  border-radius: 30px;
  padding: .875rem 3.75rem .875rem 2.19rem;
  cursor: pointer;
  position: relative;
  transition: all .5s;
}

.button::before {
  content: ' ';
  position: absolute;
  background-image: url(./../images/icons/arrowRight.png);
  background-repeat: no-repeat;
  right: 1.5rem;
  top: calc(50% - 7px);
  width: 1rem;
  height: 100%;
}

.button-main{
  margin-bottom: 1.875rem;
}

.form__button {
  padding: .875rem 2.19rem .875rem 2.19rem;
}

.button.form__button::before {
  display: none;
}

.button:hover {
  background-color: var(--button-hover);
}

.button:active {
  background-color: var(--button-active);
}


@media (max-width: 992px) {
  .button::before {
    right: 0.5rem;
    width: 2rem;
  }
}