@media (max-width: 1050px) {
  .banner__img--ellipse {
    right: -14rem;
    bottom: -29rem;
  }
}

@media (max-width: 992px) {
  .header__menu-list {
    font-size: 1rem;
  }

  .banner__content-title {
    padding-top: 2rem;
  }

  .banner__img--ellipse {
    right: -44rem;
    bottom: -49rem;
    width: 120%;

  }

  .banner__img--man {
    bottom: -5rem;
    width: 60%;
  }

  .banner__persona-inform {
    right: 27rem;
  }
}

@media (max-width: 768px) {
  .banner__img--ellipse {
    right: -29rem;
    bottom: -46rem;
    width: 120%;
  }

  .banner__persona-inform {
    right: 30rem;
    bottom: -34rem;
  }

  .benefits__main-wrap {
    margin-top: -1.7rem;
  }

  .benefits__main-item+.benefits__main-item {
    margin-left: .5rem;
  }

  .benefits__main-item-number {
    font-size: 2rem;
  }

  .benefits__main-item {
    padding: 1rem;
    max-width: 15rem;
  }

  .benefits__items {
    column-gap: 2rem;
  }
}

@media (max-width: 576px) {
  .banner__img--ellipse {
    right: -28rem;
    bottom: -26rem;
  }

  .banner__img--man {
    bottom: -2rem;
    right: -4rem;
    width: 65%;
  }

  .banner__persona-inform {
    right: 20rem;
    bottom: -32rem;
  }

  .benefits__main-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
  }

  .benefits__main-item+.benefits__main-item {
    margin-left: 0;
  }

  .benefits__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 509px) {
  .banner__persona-inform {
    bottom: -36rem;
  }
}


@media (max-width: 480px) {
  .banner__persona-inform {
    right: 17rem;
  }
}

@media (max-width: 394px) {
  .benefits__main-wrap {
    grid-template-columns: repeat(2, 1fr);
  }

  .benefits__main-item:last-child {
    display: none;
  }


  .benefits__items {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 6rem;
    padding-bottom: 6.25rem;
}
}

@media(max-width:320px) {
  .benefits__title{
    padding-top: 2rem;
  }
}
